<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
   
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!--<add key="ICBSFile" value="\\bdowldb13v\ITD\Dong Puno\Ed\RAW FILE-ICBS GL05311801.TXT"/>-->
    
     <add key="ICBSFile" value="C:\Users\c161007003\Desktop\RAW FILE-ICBS GL05311801.TXT" />
    <add key="AAFFile" value="C:\Users\c161007003\Desktop\Folders\ntc files\aaf\Aging Inventory.xls" />
    
    
    <add key="ICBSFolder" value="C:\Users\c161007003\Desktop\Folders\ntc files" />
    <add key="AAFFolder" value="C:\Users\c161007003\Desktop\Folders\ntc files\AAF" />
    
    
    <add key="AAFDBSource" value="BDOWLDB10V" />
    <add key="AAFDBase" value="dbAAF_SalesRec" />
    <add key="AAFUserName" value="d_aaf_test2" />
    <add key="AAFPassword" value="password" />

    <add key="FAMSDBSource" value="BDOWLDB10V" />
    <add key="FAMSDBase" value="dbAAF_SalesRec" />
    <add key="FAMSUserName" value="0B+F5qaQEI9UnQpJ1SRsrg==" />
    <add key="FAMSPassword" value="Tqk/GX58kyPj1jYqSZ3UTA==" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
  <add name="NTC_Context_Entities" connectionString="metadata=res://*/Data.NTC_Model.csdl|res://*/Data.NTC_Model.ssdl|res://*/Data.NTC_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bdowldb10v;initial catalog=tmpNTC;user id=d_aaf_test2;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>